
/* Default styles for larger screens */
.image404 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered-image404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.not-found-title404 {
  color: var(--primary-bright);
  font-size: 36px;
  margin-top: 10px;
  white-space: nowrap; /* Prevent text from wrapping initially */
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-found-text404 {
  color: var(--primary);
  font-size: 24px;
  margin-top: 10px;
  white-space: nowrap; /* Prevent text from wrapping initially */
  overflow: hidden;
  text-overflow: ellipsis;
}

.go-back-button404 {
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.anim {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}

.ghost,
.ufo {
  margin-left: 10px;
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {


  .centered-image404 {
    width: 100%;  }

  .not-found-title404,
  .not-found-text404 {
    white-space: normal; /* Allow text to wrap on mobile */
    overflow: visible; /* Display full text on mobile */
    text-overflow: clip; /* Clip text that overflows */
  }

  .not-found-title404 {
    font-size: 18px; /* Adjust font size for mobile */
  }

  .not-found-text404 {
    font-size: 14px; /* Adjust font size for mobile */
  }

  .go-back-button404 {
    /* Adjust styles for mobile here */
  }

  /* Add any additional adjustments for mobile styles here */
}




.context {
  width: 100%;
  position: absolute;
  top:50vh;

}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}



.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--primary);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}