

.loading-text-resp{
    color: var(--primary-bright);

    position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;


}
@media (max-width: 768px) {

    .loading-anim-player {
        width: 100%;
    height: 100%;
    }

}
.loading-code-image{
    position: absolute;
align-items: center;
justify-content: center;
top: 80%;
}