@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body,
* {
  box-sizing: content-box;
  cursor: none;
}

::selection {
  background-color: #fefefe;
  color: #000;
}

/* CUSTOM CURSOR  */

.flare {
  position: fixed;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  backdrop-filter: blur(1px);
  background-color: #0000005e;
  transition:
    width 0.2s ease-in-out,
    height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    transition:
      width 0.2s ease-in-out,
      height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  display: none;
  opacity: 0 !important;
  transition:
    width 0.2s ease-in-out,
    height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

#__next {
  @apply bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-gray-700 bg-gray-900;
}

.prose code {
  @apply text-gray-200 px-1 py-0.5 border border-gray-800 rounded-lg bg-gray-900;
}

.prose pre code {
  @apply text-gray-200 p-0;
  border: initial;
}

.prose img {
  @apply m-0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-300;
}

.token.punctuation {
  @apply text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold border border-b-0 rounded-t-lg text-gray-200 border-gray-700 bg-gray-900;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 border-l-4 border-blue-500 bg-gray-900;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.darkBackgroundCirclesColors {
  inset: 0px;
  position: absolute;
  z-index: -1;
  background:
    radial-gradient(
      circle at top left,
      rgba(139, 0, 255, 0.22) 0%,
      rgba(0, 0, 0, 0) 15%,
      rgba(128, 128, 128, 0) 100%
    ),
    radial-gradient(
      circle at 85% 30%,
      rgba(0, 136, 255, 0.28) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(128, 128, 128, 0) 15%
    );
}

@media (min-width: 900px) {
  .darkBackgroundCirclesColors {
    background:
      radial-gradient(
        circle at 15% 55%,
        rgba(139, 0, 255, 0.22) 0%,
        rgba(0, 0, 0, 0) 25%,
        rgba(128, 128, 128, 0) 100%
      ),
      radial-gradient(
        circle at 85% 30%,
        rgba(0, 136, 255, 0.28) 0%,
        rgba(0, 0, 0, 0) 30%,
        rgba(128, 128, 128, 0) 25%
      );
  }
}

/* Mobile responsiveness for typography */
@media (max-width: 768px) {
  .typing-animation {
    font-size: 1.2rem;
  }
}

/* Typing animation caret visibility and color */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--caret-color, #fff);
  animation:
    typing 3.5s steps(30) 1s 1 normal both,
    blink-caret 0.75s step-end infinite;
}

/* Caret blink animation */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--progress-bar-bg); /* Background color */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--progress-bar-bg),
    0 0 5px var(--progress-bar-bg);
}

#nprogress .spinner {
  display: none;
}

@layer base {
  :root {
    --progress-bar-bg: #000000; /* Light theme color */
  }

  .dark {
    --progress-bar-bg: #ffffff; /* Dark theme color */
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #060606;
    --card: #ffffff;
    --card-foreground: #060606;
    --popover: #ffffff;
    --popover-foreground: #060606;
    --primary: #161616;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f4;
    --secondary-foreground: #161616;
    --muted: #f4f4f4;
    --muted-foreground: #727272;
    --accent: #f4f4f4;
    --accent-foreground: #161616;
    --destructive: #e6005c;
    --destructive-foreground: #ffffff;
    --border: #e3e3e3;
    --input: #e3e3e3;
    --ring: #060606;
    --chart-1: #fc5c8c;
    --chart-2: #b04de0;
    --chart-3: #4f93fc;
    --chart-4: #fcba03;
    --chart-5: #2fc4bc;
    --chart-6: #333c7e;
    --dark-background: #121212;
    --dark-foreground: #ffffff;
    --dark-card: #2a2a2a;
    --dark-card-foreground: #e1e1e1;
    --dark-popover: #2a2a2a;
    --dark-popover-foreground: #e1e1e1;
    --dark-primary: #121212;
    --dark-primary-foreground: #ffffff;
    --dark-secondary: #2a2a2a;
    --dark-secondary-foreground: #e1e1e1;
    --dark-muted: #2a2a2a;
    --dark-muted-foreground: #727272;
    --dark-accent: #2a2a2a;
    --dark-accent-foreground: #e1e1e1;
    --dark-destructive: #e6005c;
    --dark-destructive-foreground: #ffffff;
    --dark-border: #2a2a2a;
    --dark-input: #2a2a2a;
    --dark-ring: #ffffff;
    --dark-chart-1: #fc5c8c;
    --dark-chart-2: #b04de0;
    --dark-chart-3: #4f93fc;
    --dark-chart-4: #fcba03;
    --dark-chart-5: #2fc4bc;
    --dark-chart-6: #333c7e;
    --caret-color: #000000;
  }

  /* Dark mode variables */
  .dark {
    --background: #000000;
    --foreground: #e1e1e1;
    --card: #2a2a2a;
    --card-foreground: #e1e1e1;
    --popover: #2a2a2a;
    --popover-foreground: #e1e1e1;
    --primary: #121212;
    --primary-foreground: #ffffff;
    --secondary: #2a2a2a;
    --secondary-foreground: #e1e1e1;
    --muted: #2a2a2a;
    --muted-foreground: #727272;
    --accent: #2a2a2a;
    --accent-foreground: #e1e1e1;
    --destructive: #e6005c;
    --destructive-foreground: #ffffff;
    --border: #2a2a2a;
    --input: #2a2a2a;
    --ring: #ffffff;
    --caret-color: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.heartbeat-animation {
  display: inline-block;
  animation: heartbeat 1.5s ease-in-out infinite;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}
/* Global Styles or a separate CSS file */
@keyframes blinkCircle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink-circle {
  animation: blinkCircle 1s infinite;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--muted-foreground);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply bounce effect on focus */
.focus-bounce:focus,
.focus-bounce:hover {
  animation: bounce 0.5s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  } /* Move up by 5px */
  100% {
    transform: translateY(0);
  } /* Return to the original position */
}

/* Apply jump effect on focus and hover */
.focus-jump:focus,
.focus-jump:hover {
  animation: jump 0.3s ease-out;
}
