:root {
    --primary-green: #a1a6a6;
    --shadow-color: 0deg 0% 70%;
    --elevation-medium: 0px 0.5px 0.7px hsl(var(--shadow-color) / 0.09),
    0px 1.4px 1.8px -0.3px hsl(var(--shadow-color) / 0.13),
    0px 2.6px 3.4px -0.6px hsl(var(--shadow-color) / 0.17),
    0px 4.6px 6.1px -0.9px hsl(var(--shadow-color) / 0.21),
    0px 8.2px 10.8px -1.2px hsl(var(--shadow-color) / 0.25);
}

.content {
    width: 75%;
    height: 2500px;
    margin: auto;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    width: 95%;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    color: #2c2c2c;
}

#mainNav {
    padding-top: 1.5rem;
    height: 4rem;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: var(--elevation-medium);
}

.sticky {
    position: sticky;
    top: 0;
    transition: all 0.2s ease;
}

body {
    background-color: #e5e5e5;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    color: #2c2c2c;
}

/* Centered Navbar */
#mainNav {
    margin-top: 10px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 0 2rem;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    margin-right: 2rem;
    transition: color 0.3s ease;
}

/* Rounded Search Field */
.search {
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px;
}

.search-input {
    height: 100%;
    width: 15rem;
    padding: 0.5rem;
    border: 2px solid #cbc5c5;
    border-radius: 2.5rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    padding: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
}
/* Media Query for Mobile */
@media screen and (max-width: 767px) {
    #mainNav {
        padding: 1rem;
        border-radius: 1rem; /* Add border-radius to make it rounded */
        margin-bottom: 1rem; /* Add margin-bottom to create space below */
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Center link text */
    }

    .nav-link {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .search {
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .search-input {
        border: 2px solid #cbc5c5;
        width: 100%;
        margin-right: 0.5rem;
        text-align: center;
    }

    .search-input:focus {
        outline: none;
        border-color: #028cf3;
    }

    .search-icon {
        right: 0;
    }

    /* Collapsed Dropdown Background Color */
    .navbar-collapse {
        background-color: #fff;
        border-radius: 1rem; /* Add border-radius to make it rounded */
    }
    /* Space below collapsed dropdown */
    .navbar-collapse.collapse.show {
        margin-bottom: 1.5rem;
    }

    .signin {
        text-align: center;

    }
}


/* Media Query for Tablets and Large Screens */
@media screen and (min-width: 767px)  and (max-width: 1300px) {
    #mainNav {
        padding: 1rem;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-link {
        margin-top: 15px;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .search {
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .search-input {
        border: 2px solid #cbc5c5;
        width: 100%;
        margin-right: 0.5rem;
    }

    .search-input:focus {
        outline: none;
        border-color: #028cf3;
    }

    .search-icon {
        right: 0;
    }
}

/* Additional Styles for Large Screens */
@media screen and (min-width: 1301px) {
    .content {
        width: 70%;
    }
}
