
@import '../../mixins';

//global.module.scss
.section {

	border-bottom: 1px solid var(--primary-dark);

	max-height: 1440px;
	height: 100vh;
	width: 100%;
	justify-content: center;

	> .container {
		height: fit-content;
	}

	.preHeader {
		color: var(--secondary);
		font-family: var(--font-accent);
		font-size: 1.2rem;
		font-weight: 400;
		margin: 1rem 0;
	}
	.tooltipContent {
		position: absolute;
		top: -110px;
		transform: translateX(-50%);
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		z-index: 100;
		display: flex;
		flex-direction: column;
		align-items: center;
       overflow: hidden;
		img {
			max-width: 100%;
			height: auto;
			background: transparent;
		}
	}
	.hireme_tooltip{
		left: 8%;
	}
.yescat_tooltip{
		left:25%;
	}

	.header {
		color: var(--primary-bright);
		font-family: var(--font-sans);
		font-size: 5rem;
		margin: 0;
	}

	.subheader {
		color: var(--primary-bright);
		font-family: var(--font-sans);
		font-size: 4rem;
		margin: 0;
	}
	.primaryDim {
		color: var(--primary-bright);
	}

	.primaryBright {
		color: var(--primary-bright);
	}

	.tempBright {
		font-size: .875rem;
		width: 60%;
	}

	.gitBadges {
		position: relative;
		display: flex;
		gap: .5rem;
		flex-wrap: wrap;
		height: 1rem;
		img {
			height: 16px;
			width: fit-content;
			border-radius: .25rem;
		}
	}

	@include media($max: $mobile) {
		.preHeader {
			font-size: 1rem;
		}
		.header {
			font-size: 2.0rem;
		}
		.subheader {
			font-size: 2rem;
		}
		.tempBright {
			width: 100%;
			padding-right: 1rem;
		}
		button {
			font-size: .875rem;
			padding: 0.75rem 2rem;
		}
	}
}
.heroBackground {
	--hero-gradient-bg-1: var(--neon-1-1);
	--hero-gradient-bg-2: var(--neon-1-2);
	--hero-gradient-bg-3: var(--neon-2-1);
	--hero-gradient-bg-4: var(--neon-2-2);
	position: absolute;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.radialContainer {
		position: absolute;
		width: 100%;
		height: 100%;

		.radialGradient {
			position: absolute;
			width: 100%;
			left: unset;
			aspect-ratio: 1/1;
			height: unset;
			bottom: -60%;
			filter: blur(100px);
			transform: translateZ(0);
			opacity: 20%;
			background: radial-gradient(ellipse at center,
							var(--hero-gradient-bg-1) 0%,
							var(--hero-gradient-bg-2) 25%,
							var(--hero-gradient-bg-3) 50%,
							var(--hero-gradient-bg-4) 100%);
			z-index: -1;

			animation: fogWaveLR 10s linear infinite,
			fogWaveTB 15s linear infinite,
			fogPulse 8s ease-in-out infinite,
			fogRotate 20s linear infinite,
			starsFloating 20s linear infinite;
		}
	}
}

@keyframes fogWaveLR {
	0%, 100% {
		transform: translateY(0) translateX(0) scaleY(1);
		opacity: 0;
	}
	50% {
		transform: translateY(0) translateX(100%) scaleY(2);
		opacity: 1;
	}
}

@keyframes fogWaveTB {
	0%, 100% {
		transform: translateY(0) translateX(0) scaleY(1);
		opacity: 0;
	}
	25% {
		transform: translateY(-100%) translateX(0) scaleY(2);
		opacity: 1;
	}
	50% {
		transform: translateY(100%) translateX(0) scaleY(2);
		opacity: 1;
	}
	75% {
		transform: translateY(0) translateX(0) scaleY(1);
		opacity: 0;
	}
}

@keyframes fogPulse {
	0%, 100% {
		transform: scale(1);
		opacity: 0;
	}
	50% {
		transform: scale(1.5);
		opacity: 1;
	}
}

@keyframes fogRotate {
	0%, 100% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
}

@keyframes starsFloating {
	0%, 100% {
		transform: translateY(0) translateX(0);
	}
	25% {
		transform: translateY(-50vh) translateX(50vw);
	}
	50% {
		transform: translateY(0) translateX(100vw);
	}
	75% {
		transform: translateY(50vh) translateX(50vw);
	}
}

/* Media Query for Mobile */
@media (max-width: 768px) {
	.heroBackground {
		.radialContainer {
			.radialGradient {
				bottom: -30%;
			}
		}
	}
}
