
.toggle {
	cursor: pointer;
	display: flex;
	justify-content: center;
    align-items: center;
	aspect-ratio: 1/1;
	height: 3rem;
	width: auto;
	margin: 0;
	padding: 0;

	svg {
		display: block;
		position: relative;
		fill: var(--primary-bright);
		margin: auto;
	}
}